.service-item {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  width: 80%; /* Элементы занимают 80% ширины */
  max-width: 800px; /* Максимальная ширина для больших экранов */
  margin: 20px auto;
}

.service-item h2 {
  margin: 0 0 10px;
  font-size: 2rem;
  color: black;
}

.service-item p {
  margin: 0;
  font-size: 1.1rem;
  line-height: 1.5;
  color: black;
}

/* Элементы с чередованием сторон */
.service-item:nth-child(odd) {
  transform: translateX(-100%);
}
