.animated-text-container {
  z-index: 1100;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
}

.white-text {
  font-size: 2rem;
  color: white;
}

.black-text {
  font-size: 2rem;
  color: black;
}

.animated-text {
  overflow: hidden;
  height: 2.5rem; /* Высота одного элемента */
  position: relative;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.5s ease-in-out;
}

.text {
  height: 2.5rem; /* Совпадает с высотой контейнера */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .white-text,
  .black-text {
    font-size: 1.5rem;
  }

  .animated-text-container {
    flex-direction: column; /* Меняем направление на столбец для телефонов */
  }

  .animated-text,
  .text {
    height: 2rem;
  }
}
