.marquee {
  height: 20vh;
  overflow: hidden;
  position: relative;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}

/* Анимация для каждой строки */
.marquee .marqueeone {
  animation: marquee 120s linear infinite;
}

.marquee .marqueetwo {
  animation: marquee 120s linear 30s infinite;
}

.marquee .marqueethree {
  animation: marquee 120s linear 60s infinite;
}

.marquee .marqueefour {
  animation: marquee 120s linear 90s infinite;
}

/* Общие стили для строк */
.marquee .marqueeone,
.marquee .marqueetwo,
.marquee .marqueethree,
.marquee .marqueefour {
  position: absolute;
  width: 100%;
  left: 100%;
  display: grid;
  grid-template-columns: repeat(var(--service-count), var(--width-percent));
}

/* Ключевые кадры анимации */
@keyframes marquee {
  0% {
    left: var(--start-position);
  }

  50% {
    left: var(--middle-position);
  }

  100% {
    left: var(--end-position);
  }
}

/* Стили для карточек */
.marquee-item {
  height: 17.5vh;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 1vw;
  padding: 10px;
}

.marquee-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start
}

.marquee-item-text h2 {
  margin: 0 0 10px;
  font-size: 1.5rem;
  color: black;
}

.marquee-item-text span {
  display: none;
  margin: 0;
  text-align: left;
  font-size: 1rem;
  line-height: 1.25;
  color: black;
}

.marquee-item img {
  aspect-ratio: 1 / 1;
  height: auto;
  object-fit: contain;
  transition: all 0.3s ease;
}

@media (min-width: 1920px) {
  .marquee {
    height: 35vh;
  }

  .marquee-item {
    height: 32.5vh;
  }

  .marquee .marqueeone {
    animation: marquee 120s linear infinite;
  }

  .marquee .marqueetwo {
    animation: marquee 120s linear 30s infinite;
  }

  .marquee .marqueethree {
    animation: marquee 120s linear 60s infinite;
  }

  .marquee .marqueefour {
    animation: marquee 120s linear 90s infinite;
  }

  .marquee:hover div {
    animation-play-state: paused;
  }

  .marquee-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  }

  .marquee-item-text h2 {
    font-size: 2.5rem;
  }

  .marquee-item-text span {
    font-size: 1.5rem;
    line-height: 1.5;
  }

}

@media (max-width: 1920px) {
  .marquee {
    height: 25vh;
  }

  .marquee-item {
    height: 22.5vh;
  }

  .marquee-item-text span {
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

@media (max-width: 1400px) {
  .marquee {
    height: 20vh;
  }

  .marquee-item {
    height: 17.5vh;
  }

  .marquee-item-text span {
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media (max-width: 1200px) {
  .marquee {
    height: 20vh;
  }

  .marquee-item {
    height: 17.5vh;
    justify-content: flex-end;
  }

  .marquee-item-text {
    width: 100%;
    align-items: center;
  }

  .marquee-item-text h2 {
    font-size: 2rem;
  }
}

@media (max-width: 1024px) {
  .marquee-item-text h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .marquee-item-text {
    justify-content: flex-start;
  }

  .marquee-item-text span {
    display: block;
  }
}

@media (max-width: 768px) {
  .marquee {
    height: 20vh;
  }

  .marquee-item {
    height: 17.5vh;
  }

  .marquee-item-text h2 {
    font-size: 1.5rem;
  }
}