/* Общий стиль футера */
.footer {
  border-top: 1px solid white;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  color: white;
}

.footer-logo {
  font-size: 2rem;
  font-weight: bold;
}

.contact-info p {
  font-size: 0.9rem;
  margin: 5px 0;
}

.contact-info a {
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
}

.footer-talk {
  margin: 20px 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-link {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  transition: transform 0.2s;
}

.arrow-link:hover {
  transform: scale(1.1);
}

.footer-links details {
  margin: 15px 0;
}

.footer-links summary {
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.footer-links ul {
  margin: 10px 0 0 10px;
  padding: 0;
  list-style: none;
}

.footer-links ul li a {
  font-size: 0.9rem;
  color: #333;
  text-decoration: none;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}

/* Социальные иконки */
.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  font-size: 0.9rem;
  text-align: center;
}

.footer-links {
  display: flex;
  gap: 1rem;
}

.footer-links a {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-decoration: none;
}

.footer-legal {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.footer-legal p {
  cursor: pointer;
  font-size: 0.9rem;
}

.footer-legal p:hover {
  text-decoration: underline;
}

/* Адаптивный дизайн */
@media (max-width: 768px) {
  .footer-container {
    text-align: center;
  }

  .footer-talk {
    margin: 0;
    flex-direction: column;
    gap: 10px;
  }

  .footer-links details {
    text-align: center;
  }
}
